<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asap.messenger" >

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".MessengerApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ViewAllMessagesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
        <activity
            android:name=".ConversationViewActivity"
            android:label="@string/title_activity_conversation_view"
            android:parentActivityName=".ViewAllMessagesActivity" >
            <intent-filter>
                <action android:name="com.asap.messenger.conversationview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateMessageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ViewAllMessagesActivity" >
            <intent-filter>
                <action android:name="com.asap.messenger.createmessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteMessageActivity"
            android:label="@string/title_activity_delete_message" >
            <intent-filter>
                <action android:name="com.asap.messenger.deletemessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchMessageActivity"
            android:label="@string/title_activity_search_message" >
            <intent-filter>
                <action android:name="com.asap.messenger.searchmessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForwardMessageActivity"
            android:label="@string/title_activity_forward_message" >
            <intent-filter>
                <action android:name="com.asap.messenger.forwardmessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaveMessageActivity"
            android:label="@string/title_activity_save_message" >
            <intent-filter>
                <action android:name="com.asap.messenger.savemessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditMessageActivity"
            android:label="@string/title_activity_edit_message" >
            <intent-filter>
                <action android:name="com.asap.messenger.editmessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendMessageActivity"
            android:label="@string/title_activity_send_message" >
            <intent-filter>
                <action android:name="com.asap.messenger.sendmessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactManagerActivity"
            android:label="@string/title_activity_contact_manager" >
        </activity>

        <receiver
            android:name=".helper.ReceiveMessage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AddContactActivity"
            android:label="AddContactActivity"
            android:parentActivityName=".ConversationViewActivity" >
            <intent-filter>
                <action android:name="com.asap.messenger.addcontact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asap.messenger.ConversationViewActivity" />
        </activity>
    </application>

</manifest>
